[submodule "themes/hugo-universal-theme"]
  path = themes/hugo-universal-theme
  url = https://github.com/devcows/hugo-universal-theme.git
[submodule "landingpages"]
  path = https://github.com/yogendrapal/landingpages.git
