<footer class="bg-dark text-light">
    <div class="footer-shape">
        <div class="item">
            <img src="/img/shape/7.png" alt="Shape">
        </div>
        <div class="item">
            <img src="/img/shape/9.png" alt="Shape">
        </div>
    </div>
    <div class="container">
        <div class="f-items relative pt-70 pb-120 pt-xs-0 pb-xs-50">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-item pr-50 pr-xs-15">
                    <div class="f-item about">
                        <img class="logo" src="/img/logo-light.png" alt="Logo">
                        <p>
                            Excellence decisively nay man twins impression maximum contrasted remarkably is perfect.
                        </p>
                        <div class="opening-hours">
                            <h5>Opening Hours</h5>
                            <ul>
                                <li>
                                    <div class="working-day">Monday – Sunday:</div>
                                    <div class="marker"></div>
                                    <div class="working-hour">2pm – 2pm</div>
                                </li>
                                <li>
                                    <div class="working-day">Sunday:</div>
                                    <div class="marker"></div>
                                    <div class="working-hour">Off Day</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 footer-item">
                    <div class="f-item link">
                        <h4 class="widget-title">Our Company</h4>
                        <ul>
                            <li><a href="/about-us">Company Profile</a></li>
                            <li><a href="/faq">Help Center</a></li>
                            <li><a href="/about-us">Career</a></li>
                            <li><a href="/pricing">Plans & Pricing</a></li>
                            <li><a href="/contact-us">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 footer-item">
                    <div class="f-item link">
                        <h4 class="widget-title">Our Services</h4>
                        <ul>
                            <li><a href="/services-details">Manage investment</a></li>
                            <li><a href="/services-details">Business planning</a></li>
                            <li><a href="/services-details">Financial advices</a></li>
                            <li><a href="/services-details">Tax strategy</a></li>
                            <li><a href="/services-details">Insurance strategy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-item">
                    <h4 class="widget-title">Newsletter</h4>
                    <p>
                        Join our subscribers list to get the latest <br> news and special offers.
                    </p>
                    <div class="f-item newsletter">
                        <form action="#">
                            <input type="email" placeholder="Your Email" class="form-control" name="email">
                            <button type="submit"> Subscribe</button>
                        </form>
                    </div>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>&copy; Copyright 2023. All Rights Reserved by <a href="#">validthemes</a></p>
                </div>
                <div class="col-lg-6 text-end">
                    <ul>
                        <li><a href="/about-us">Terms</a></li>
                        <li><a href="/about-us">Privacy</a></li>
                        <li><a href="/contact-us">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>