<div class="top-bar-area top-bar-style-one bg-dark text-light">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-7">
                <ul class="item-flex">
                    <li>
                        <i class="fas fa-map-marker-alt"></i> 70240 Avenue of the Moon, California
                    </li>
                    <li>
                        <a href="tel:+4733378901"><i class="fas fa-phone-alt"></i> +4733378901</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 text-end">
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<header>
    <nav class="navbar mobile-sidenav navbar-common navbar-sticky navbar-default validnavs">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/img/logo.png" class="logo" alt="Logo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <img src="/img/logo.png" alt="Logo">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-times"></i>
                </button>
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle {{ if eq .RelPermalink "/" }}active{{ end }}" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu">
                            <li><a href="/">Consulting Business</a></li>
                            <li><a href="/index-2">Corporate Business</a></li>
                            <li><a href="/marketing-agency">Marketing Agency</a></li>
                            <li><a href="/insurance">Insurance</a></li>
                            <li><a href="/solar-energy">Solar Energy</a></li>
                            <li><a href="/software-landing">Software Landing</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <ul class="dropdown-menu">
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/team">Team</a></li>
                            <li><a href="/team-details">Team Details</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                            <li><a href="/404">Error Page</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/project" class="dropdown-toggle" data-toggle="dropdown">Projects</a>
                        <ul class="dropdown-menu">
                            <li><a href="/project">Project style one</a></li>
                            <li><a href="/project-details">Project Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle {{ if eq .RelPermalink "/services-details/" }}active{{ end }}" data-toggle="dropdown">Services</a>
                        <ul class="dropdown-menu">
                            <li><a href="/services">Services Version One</a></li>
                            <li><a href="/services-2">Services Version Two</a></li>
                            <li><a href="/services-details">Services Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="/blog-standard">Blog Standard</a></li>
                            <li><a href="/blog-with-sidebar">Blog With Sidebar</a></li>
                            <li><a href="/blog-2-colum">Blog Grid Two Colum</a></li>
                            <li><a href="/blog-3-colum">Blog Grid Three Colum</a></li>
                            <li><a href="/blog-single">Blog Single</a></li>
                            <li><a href="/blog-single-with-sidebar">Blog Single With Sidebar</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact-us">contact</a></li>
                </ul>
            </div>
            <div class="attr-right">
                <div class="attr-nav">
                    <ul>
                        <li class="button"><a href="#">Get consultant</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="overlay-screen"></div>
    </nav>
</header>