{{ template "_internal/google_analytics.html" . }}
<script src="{{ "js/jquery-3.6.0.min.js" | relURL }}"></script>
<script src="{{ "js/bootstrap.bundle.min.js" | relURL }}"></script>
<script src="{{ "js/jquery.appear.js" | relURL }}"></script>
<script src="{{ "js/jquery.easing.min.js" | relURL }}"></script>
<script src="{{ "js/jquery.magnific-popup.min.js" | relURL }}"></script>
<script src="{{ "js/modernizr.custom.13711.js" | relURL }}"></script>
<script src="{{ "js/swiper-bundle.min.js" | relURL }}"></script>
<script src="{{ "js/wow.min.js" | relURL }}"></script>
<script src="{{ "js/progress-bar.min.js" | relURL }}"></script>
<script src="{{ "js/circle-progress.js" | relURL }}"></script>
<script src="{{ "js/isotope.pkgd.min.js" | relURL }}"></script>
<script src="{{ "js/imagesloaded.pkgd.min.js" | relURL }}"></script>
<script src="{{ "js/jquery.nice-select.min.js" | relURL }}"></script>
<script src="{{ "js/count-to.js" | relURL }}"></script>
<script src="{{ "js/jquery.scrolla.min.js" | relURL }}"></script>
<script src="{{ "js/YTPlayer.min.js" | relURL }}"></script>
<script src="{{ "js/TweenMax.min.js" | relURL }}"></script>
<script src="{{ "js/rangeSlider.min.js" | relURL }}"></script>
<script src="{{ "js/jquery-ui.min.js" | relURL }}"></script>
<script src="{{ "js/validnavs.js" | relURL }}"></script>
<script src="{{ "js/main.js" | relURL }}"></script>
